Repository GlobalTax/capital-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-username, @security-team, @backend-team, @devops-team, @frontend-team, @marketing-team

.github/CODEOWNERS:

# Global code owners
* @your-username

# Security-related files require security team review
/src/core/security/ @security-team
/src/utils/securityMonitoring.ts @security-team
/src/hooks/useCentralizedErrorHandler.tsx @security-team

# Database and backend changes
/supabase/ @backend-team @security-team
*.sql @backend-team @security-team

# CI/CD and deployment
/.github/workflows/ @devops-team @security-team
/package.json @devops-team

# Configuration files
/vite.config.ts @devops-team
/tailwind.config.ts @frontend-team
/tsconfig.json @devops-team

# Landing pages and marketing
/src/pages/Landing*.tsx @marketing-team @frontend-team
/src/components/landing/ @marketing-team @frontend-team

Fix Apollo fund import endpoints
  supabase/functions/apollo-import-fund/index.ts
Owners: @backend-team, @security-team

Fix: quitar Math.round en conversions, mejorar error handling y EOF en migraciones
  src/hooks/useGoogleAdsImport.ts
  supabase/migrations/20260209090248_bd4d1326-9520-447b-a063-7bf4c3c7725e.sql
  supabase/migrations/20260209151342_22d4aa48-c011-4760-b52e-b3c89dd57619.sql
Owners: @your-username, @backend-team, @security-team

Hardening: CSP, crypto passwords, query parallelization y bundle splitting
  src/components/Hero.tsx
  src/hooks/useAdminUsers.tsx
  src/hooks/useUnifiedContacts.tsx
  src/utils/securityHardening.ts
  vite.config.ts
Owners: @your-username, @devops-team

Security: eliminar escalación de privilegios, passwords seguros, memory leaks
  src/components/TrackingInitializer.tsx
  src/hooks/useAdminUsers.tsx
  src/services/userManagementService.ts
  src/utils/adminSetup.ts
Owners: @your-username

Security: HMAC webhook verification, HTML escaping, rate limiting, env vars
  supabase/functions/brevo-webhook-handler/index.ts
  supabase/functions/send-valuation-email/index.ts
  supabase/functions/submit-valuation/index.ts
Owners: @backend-team, @security-team

Hardening: centralizar keys, eliminar emails hardcodeados, sanitizar errores, fix hooks
  src/hooks/useFormSessionTracking.ts
  src/hooks/useGlobalShortcuts.tsx
  src/pages/admin/BrevoContactsImport.tsx
  src/services/TrackingConfigService.ts
  src/shared/utils/string.ts
  supabase/functions/corporate-buyer-enrich/index.ts
  supabase/functions/corporate-buyer-profile-import/index.ts
  supabase/functions/generate-exit-readiness-report/index.ts
  supabase/functions/link-valuations-crm/index.ts
  supabase/functions/send-admin-notifications/index.ts
  supabase/functions/send-booking-notification/index.ts
  supabase/functions/send-bulk-inquiry-notification/index.ts
  supabase/functions/send-corporate-email/index.ts
  supabase/functions/send-followup-email/index.ts
  supabase/functions/send-form-notifications/index.ts
  supabase/functions/send-news-digest/index.ts
  supabase/functions/sync-to-brevo/index.ts
  supabase/functions/update-valuation/index.ts
Owners: @your-username, @backend-team, @security-team

Security: fix hooks violation, auth en edge functions, eliminar URLs hardcodeadas, paginar queries
  src/components/DetailedCaseStudies.tsx
  src/components/booking/BookingPage.tsx
  src/hooks/useBannerTracking.ts
  src/hooks/useBannersAdmin.ts
  src/hooks/useFormSessionTracking.ts
  src/hooks/useLeadTracking.tsx
  src/hooks/useValuationAutosave.ts
  src/utils/securityHardening.ts
  supabase/functions/brevo-sync-pending/index.ts
  supabase/functions/email-open/index.ts
  supabase/functions/link-valuations-crm/index.ts
  supabase/functions/meta-conversions-api/index.ts
  supabase/functions/secure-tracking/index.ts
  supabase/functions/security-events/index.ts
  supabase/functions/send-operation-alerts/index.ts
Owners: @your-username, @backend-team, @security-team

Security: sanitizar errores en 10 edge functions más, validar redirect en AdminLayout
  src/features/admin/components/AdminLayout.tsx
  supabase/functions/extract-financial-data/index.ts
  supabase/functions/fetch-ma-news/index.ts
  supabase/functions/generate-exit-readiness-report/index.ts
  supabase/functions/generate-newsletter-image/index.ts
  supabase/functions/generate-newsletter-variants/index.ts
  supabase/functions/generate-sector-dossier/index.ts
  supabase/functions/send-bulk-inquiry-notification/index.ts
  supabase/functions/send-weekly-newsletter/index.ts
  supabase/functions/sf-ai-matching/index.ts
  supabase/functions/sf-monitor-changes/index.ts
Owners: @your-username, @backend-team, @security-team

Security: fix prototype pollution en webhook handler y ReDoS en regex de XSS detection
  src/core/security/SecurityManager.ts
  src/utils/sanitization.ts
  supabase/functions/brevo-webhook-handler/index.ts
Owners: @security-team, @your-username, @backend-team

Security: crypto.getRandomValues para tokens, redactar PII de logs
  src/components/admin/CreateUser.tsx
  src/features/valuation/hooks/usePreventiveSave.ts
  src/features/valuation/services/data-access.service.ts
  src/hooks/useValuationAutosave.ts
  src/utils/secureLogger.ts
  src/utils/securityMonitoring.ts
  supabase/functions/duplicate-valuation/index.ts
  supabase/functions/send-form-notifications/index.ts
  supabase/functions/test-email-config/index.ts
Owners: @your-username, @security-team, @backend-team

Fix: crypto IDs en hooks restantes, JSON.parse seguro, eliminar substr() deprecated
  src/contexts/AuthContext.tsx
  src/hooks/useFormSessionTracking.ts
  src/hooks/useLeadTracking.tsx
  src/hooks/useValuationAnalytics.tsx
Owners: @your-username

Fix: distribution chart filter, multi-year calculation, JWT validation
  src/components/admin/campanas-valoracion/steps/CampaignSummaryStep.tsx
  src/components/admin/campanas-valoracion/steps/ReviewCalculateStep.tsx
  supabase/functions/enrich-campaign-companies-data/index.ts
  supabase/functions/enrich-campaign-company/index.ts
Owners: @your-username, @backend-team, @security-team

Fix blog bugs + SEO sitemap with dynamic blog posts
  package.json
  public/sitemap.xml
  scripts/generate-sitemap.mjs
  src/components/admin/blog/EnhancedBlogEditor.tsx
  src/components/blog/BlogPostContent.tsx
  src/hooks/useBlogFilters.tsx
  src/hooks/useBlogPosts.tsx
  src/hooks/useSimpleBlogAnalytics.tsx
  src/pages/blog/BlogPost.tsx
  src/pages/recursos/Blog.tsx
Owners: @devops-team, @your-username

Fix: bulk update perf, financial_years sort, JWT auth on news functions
  src/hooks/useCampaignCompanies.ts
  src/hooks/useUnifiedContacts.tsx
  src/pages/test/components/AboutSection.tsx
  supabase/functions/auto-publish-news/index.ts
  supabase/functions/fetch-ma-news/index.ts
  supabase/functions/process-news-ai/index.ts
Owners: @your-username, @backend-team, @security-team

Fix CI: add type-check script and fix ESLint config for ESLint 9
  .github/workflows/security-check.yml
  package.json
Owners: @devops-team, @security-team

Fix: security hardening and critical bugs across modules
  src/components/NotificationCenter.tsx
  src/hooks/use-toast.ts
  src/hooks/useAdminUsers.tsx
  supabase/functions/brevo-webhook-handler/index.ts
  supabase/functions/duplicate-valuation/index.ts
  supabase/functions/security-valuation-quick/index.ts
Owners: @your-username, @backend-team, @security-team

Add .npmrc with legacy-peer-deps to fix CI npm ci failure
  .npmrc
Owners: @your-username

Fix CI: use --legacy-peer-deps in npm ci for date-fns conflict
  .github/workflows/security-check.yml
Owners: @devops-team, @security-team

Fix: content calendar security and robustness
  src/components/admin/content-calendar/AIContentEngine.tsx
  src/components/admin/content-calendar/ContentItemDialog.tsx
  src/components/admin/content-calendar/SmartPlannerSection.tsx
  supabase/functions/generate-content-calendar-ai/index.ts
Owners: @your-username, @backend-team, @security-team

Fix: calendar UX, performance, security improvements
  src/components/admin/content-calendar/CalendarView.tsx
  src/components/admin/content-calendar/ContentCalendarManager.tsx
  src/components/admin/content-calendar/KanbanView.tsx
  src/components/admin/content-calendar/ListView.tsx
  src/utils/newsletterExport.ts
  supabase/functions/send-form-notifications/index.ts
Owners: @your-username, @backend-team, @security-team

Fix: validate AI schedule response, memoize sector data, improve UX
  src/components/admin/content-calendar/AutoScheduleDialog.tsx
  src/components/admin/content-calendar/ContentCalendarManager.tsx
  src/components/admin/sector-intelligence/SectorEditDialog.tsx
  src/hooks/useSectorIntelligence.ts
Owners: @your-username

fix: PDF upload via Edge Function + error handling improvements
  src/components/admin/campanas-valoracion/steps/ProcessSendStep.tsx
  src/hooks/useCampaignPresentations.ts
  src/utils/campaignPresentationStorage.ts
  supabase/functions/upload-campaign-presentation/index.ts
Owners: @your-username, @backend-team, @security-team

fix(seo): eliminate 104 duplicate URLs in sitemap and add hreflang support
  index.html
  public/sitemap.xml
  scripts/generate-sitemap.mjs
  src/components/ui/footer-section.tsx
  src/shared/i18n/dictionaries.ts
Owners: @your-username

fix(seo): eliminate duplicate URLs in sitemap, add hreflang and localize footer
  index.html
  public/sitemap.xml
  scripts/generate-sitemap.mjs
  src/components/ui/footer-section.tsx
  src/shared/i18n/dictionaries.ts
Owners: @your-username

fix(seo): add noindex to auth pages, fix empty alt attributes, add missing meta tags
  index.html
  src/components/admin/CaseStudiesManager.tsx
  src/components/admin/DealsuiteEmpresaCard.tsx
  src/components/admin/DealsuiteSyncPanel.tsx
  src/pages/AdminLoginNew.tsx
  src/pages/Auth.tsx
Owners: @your-username

fix(ci): sync package-lock.json with package.json
  package-lock.json
Owners: @your-username

feat(seo): add post-build pre-rendering for static SEO meta tags
  package.json
  scripts/prerender-seo.mjs
Owners: @devops-team, @your-username

perf: reduce main bundle by 570KB via lazy loading and chunk splitting
  src/core/routing/AppRoutes.tsx
  vite.config.ts
Owners: @your-username, @devops-team

fix(seo): add HTMLRewriter to Cloudflare Worker for server-side meta injection
  cloudflare/worker-bot-prerender.js
Owners: @your-username

fix(seo): rewrite Worker to bypass Prerender.io and inject SEO tags directly
  cloudflare/worker-bot-prerender.js
Owners: @your-username

fix(seo): generate HTML for bots server-side, bypass Lovable entirely
  cloudflare/worker-bot-prerender.js
Owners: @your-username

fix(seo): generate route-specific noscript body content to eliminate duplicates
  scripts/prerender-seo.mjs
Owners: @your-username

feat(worker): integrate Prerender.io for fully rendered bot HTML
  workers/prerender-worker-capittal.js
Owners: @your-username

feat(worker): upgrade to v4 with Prerender.io integration
  cloudflare/worker-bot-prerender.js
Owners: @your-username

fix: force Spanish locale for bots/Prerender.io via URL-based language detection
  src/shared/i18n/locale.ts
Owners: @your-username

fix: canonical URL consistency — add test, fix query params in canonical, add missing /sectores/retail route
  cloudflare/worker-bot-prerender.js
  scripts/test-canonicals.mjs
  src/pages/LandingCalculator.tsx
Owners: @your-username, @marketing-team, @frontend-team

fix: sitemap — remove noindex pages, add missing routes, add x-default hreflang
  public/sitemap.xml
  scripts/generate-sitemap.mjs
Owners: @your-username

fix: pre-render blog posts to eliminate 106 duplicate canonical issues
  scripts/prerender-seo.mjs
Owners: @your-username

fix: add neutral SPA fallback to prevent 111 duplicate content issues in Ahrefs
  public/_redirects
  scripts/prerender-seo.mjs
Owners: @your-username

fix: remove homepage-specific meta from source HTML to prevent Lovable SPA duplication
  index.html
  scripts/prerender-seo.mjs
Owners: @your-username
